<div class="container-3" style="width: 100%;height:100%;">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h3>Sign In</h3>

            </div>
            <div class="card-body" style="width: 400px;">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" #userEmail required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" #userPwd required>
                    </div>
                    
                </form>
            </div>
            <div class="card-footer">
                <div class="card-header">
                    <!-- <div class="d-flex justify-content-center links">
                        <input type="button" class="btn btn-secondary" value="Sign In"
                            (click)="authService.AuthLogin()">
                    </div> -->
                </div>
                <div class="card-header">
                    <div class="d-flex justify-content-center">
                        <span>No Account? <a class="redirect" routerLink="/register">Sign Up</a></span> </div>
                </div>
                <div class="card-header">
                    <div class="d-flex justify-content-center">
                        <span>forgot password? <a class="redirect" routerLink="/forgot-password">Reset Password</a></span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
